.Main {
  margin-left: 265px;
  padding: 1px 16px;
  transition: margin linear 0.5s;
  &.close {
    margin-left: 88px;
  }
  .wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: 90%;
  }
  .table {
    display: flex;
  }
  @media screen and (max-width: 700px) {
    margin-left: 0;
    padding-top: 19px;
  }
}
